.clearSongButton{
    top: 0;
    left: 5%;
    font-weight: unset;
    background: #484848;
    color: #dddddd;
    font-weight: bold;
    width: 100%;
    font-size: 2em;
    padding-block: 0px;
    border-radius: 20px;
}

.outerContainer{
    outline: 1px solid black;
    padding: 10px;
    
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    position: fixed;
    padding-bottom: 0px;
    top: -10px;
    background-color: #524566;
    box-shadow: 0px -3px 20px 14px rgb(24, 24, 24);
    transition: top 0.3s ease-in-out;
    width: 50%;
    left: 2%;
    outline: 5px solid black;
}