.outerContainer{
    outline: 1px solid black;
    padding: 10px;
    
    border-radius: 20px;
    text-align: center;
    position: fixed;
    padding-bottom: 0px;
    top: 1%;
    background-color: #524566;
    box-shadow: 0px -3px 20px 14px rgb(24, 24, 24);
    transition: top 0.3s ease-in-out;
    width: 40%;
    right: 5%;
    z-index: 100;
    outline: 5px solid black;
}

.outerContainer p{
    margin: 0;
}

.innerContainer button{
    width: 45%;
    font-size: 2em;
    
}

.innerContainer{
    outline: 1px solid black;
    padding: 10px;
    padding-inline: 30px;
    text-align: center;
    background-color: #242424;
}


.top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.bottom{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#title{
    
    margin-bottom: 5px;
}

.up{
    top: -626px;
    
}

.buttonHolder{
    width: 100%;
    
}

.transposeSteps{
    display: flex;
    justify-content: space-around;
}

.menuButton{
    
    top: 0;
    left: 5%;
    font-size: 1.3em;
    
    font-weight: unset;
    background: #484848;
    color: #dddddd;
    font-weight: bold;
    width: 100%;
    font-size: 2em;
    padding-block: 0px;
    border-radius: 20px;
}
